.title, .close-btn, .min-btn {
  -fx-font-family: Arial;
  -fx-font-weight: 700;
}
.close-btn{
    -fx-background-color: transparent;
}
.close-btn:hover{
    -fx-fill: #E81123;
}
.min-btn{
    -fx-background-color: transparent;
}
.min-btn:hover{
    -fx-fill: #51dd3e;
}
.parent{
    -fx-background-color: #303138;
}
.txtfield{
    -fx-background-color: #3B4148;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.txtfield:focused{
    -fx-background-color:  #292C34;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.login-btn{
    -fx-background-color: #EA4C88;
    -fx-text-fill: #FFFFFF;
}
.login-btn:pressed{
    -fx-background-color: #FA4C88;
    -fx-text-fill: #EEEEEE;
}
.selected{
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}
.btns{
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}
.month {
    -fx-border-color: #eee;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
}
.month:active {
    -fx-border-color: #70ad4d;
    -fx-text-fill: #FFFFFF;
}
.refresh {
    -fx-background-color: transparent;
    -fx-text-fill: #eee;
    -fx-border-color: #eee;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
}